#root {
  display: flex;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

label{
color:white
}

select{
  padding:1vw 2vw
}

.page{
  display:grid;
  margin:8vw 1vw;
  grid-template-columns: 33vw 30vw 33vw;
  gap:1vw;
  height: calc(30vw/0.75);
}

.image-selector{
  width:6vw;

}
.selector-list button, .accessoires button{
  height: fit-content;
  margin: 0.3vw 0 0  0.3vw;
  padding:0;
  border-radius: 0.3vw;
  background-color: rgb(0, 71, 15);

  
}

.fieldset button{
  border-radius: 0.3vw 0.3vw 0 0;
  font-size: 1vw;
  outline:none;
  padding:0.8vw
}

.selector-list{
  display: flex;
  height:90%;
  background-color: #2e802769;
  border-radius:0 0 0.3vw 0.3vw;
  flex-wrap: wrap;
  overflow: auto;
  width: 100%;
}

.controls button{
  margin: 0.2vw;
  padding: 0.5vw 1vw;
}

.controls, .bitons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
  color: beige;
}

.controls h1{
  font-size: 2vw;
}

.konvajs-content, .konvajs-content canvas{
  width: 30vw !important;
  height: calc(30vw/0.75) !important;
}

.personnalisation{
  width: 100%
}


.reset{
  margin-top:20px !important;
  background-color:#cc1b1b
}

.reset:hover{
  border-color:#ff0000 ;
}

.boutons-fins{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 98vw;
  padding-top: 2vw;
}

.accessoires{
  background-color: #2e802769;
  height: 50%;
  border-radius: 0.3vw;
  
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}